<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ScoreboardDbContext" connectionString="Data Source=ALEXYSMBUAYANG\VIVES;Initial Catalog=YourDatabase;User ID=sa;Password=Vives20238;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
